PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/cricket-auction
DATABASE_URL=postgres://477311390bc9c3d30838a155aab37fc25153b9d6eda7bfacb761b038b7b0278c:sk_hzU1xjdyDjZSbb6h6-bj_@pooled.db.prisma.io:5432/postgres?sslmode=require
JWT_SECRET=replace_with_a_long_random_secret
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@auction.com
ADMIN_PASSWORD=supersecurepassword
AUCTION_ROOM=global-auction-room
DEFAULT_CAPTAIN_BUDGET=10000
MIN_BID_INCREMENT=10
DEFAULT_AUCTION_DURATION=300
